# Ignore folders
libraries
Data
*.DS_Store

# Ignore data files
*.csv
*.txt

# Ignore photos and presentations
*.jpg
*.ppt
*.pptx

# Ignores added by Raph to solve problems
.DS_Store
analysis/.DS_Store
analysis/06. Analysis_MTB_080121/08.01.2021 100929.txt



